
.bodyFooter{
    --primary-color: white;
    --hover-text-color: black;
    background-color: rgba(8, 53, 255, 0.95);
    width: 100%;
    padding: 20px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.left{
    text-align: center;
    flex: 3;
}
.titleLeft{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}
.iconLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0 10px 0;
}
.imgLeft{
    display: flex;
    justify-content: center;
}
.center{
    text-align: center;
    flex: 4;
}
.titleCenter{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}
.contentCenter{
    padding: 20px 0;
}
.textCenter{
    padding: 2px 0;
     color: var(--text-color);
}
:hover.textCenter{
    color: black;
    font-weight: 600;
}
.right{
    text-align: center;
    flex: 3;
}
.titleRight{
    font-size: 20px;
    font-weight: 600;
     color: var(--text-color);
}
.bottom{
    display: flex;
    justify-content: center;
}
/* Overlay loading */
.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Nền mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001; /* Đảm bảo overlay nằm trên các thành phần khác */
}

/* Spinner container */
.loader {
  position: relative;
  width: 50px; /* Kích thước của spinner */
  height: 50px;
}

/* Vòng tròn trong spinner */
.loader div {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #4c4cff; /* Màu xanh lam */
  border-radius: 50%;
  animation: loaderAnimation 1.2s linear infinite;
}

/* Vị trí từng vòng tròn */
.loader div:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: -0.6s;
}
.loader div:nth-child(2) {
  top: 14%;
  left: 85%;
  transform: translate(-50%, -50%);
  animation-delay: -0.5s;
}
.loader div:nth-child(3) {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  animation-delay: -0.4s;
}
.loader div:nth-child(4) {
  bottom: 14%;
  left: 85%;
  transform: translate(-50%, -50%);
  animation-delay: -0.3s;
}
.loader div:nth-child(5) {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: -0.2s;
}
.loader div:nth-child(6) {
  bottom: 14%;
  left: 15%;
  transform: translate(-50%, -50%);
  animation-delay: -0.1s;
}
.loader div:nth-child(7) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  animation-delay: 0s;
}
.loader div:nth-child(8) {
  top: 14%;
  left: 15%;
  transform: translate(-50%, -50%);
  animation-delay: -0.7s;
}

/* Animation cho spinner */
@keyframes loaderAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.3);
    opacity: 0;
  }
}
