.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/loginw2.jpg); 
  background-size: cover;
  background-position: center;
}

.titleLogin2{
    color: black;
    font-size: 40px;
    font-weight: 600;
}
.bodyLogo{
  width: 30%;
  height: 55vh;
  border-radius: 15px 0 0 15px;
  background-image: url(/loginw3.jpg);
  background-size: cover;
  background-position: center;
  background-color: #00b3b3;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.blogin {
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  padding: 40px 30px;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  height: 55vh;
  text-align: center;
  color: white;
}

.titleForm {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}


.inputForm {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 16px;
}

.inputForm::placeholder {
  color: #d3d3d3;
}

.btnLogin {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  background-color: rgb(89, 230, 255);
  color: #333;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnLogin:hover {
  background-color: #2392e2;
}

/* Remember me and forget password styles */
.forgetPw {
  margin-top: 15px;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

.forgetPw:hover {
  text-decoration: underline;
  color: red;
  font-weight: 600;
}

.backHome {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

.backHome svg {
  margin-right: 8px;
}

:hover.backHome{
    text-decoration: underline;
    font-weight: 600;
    color: black;
}
.error {
  color: #ff6666;
  font-size: 14px;
}
