/* styles/AlertModal.css */
.modaloverlay {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: end;
    z-index: 1000;
  }
  
  .modalcontent {
    background-color: white;
    display: flex;
    align-items: center;
    width: 300px;
    border-radius: 30px 0 0 30px;
    border: 3px solid rgb(62, 62, 62);
    background-color: rgb(95, 255, 95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideInFromRight 0.5s ease-out, fadeOutToLeft 2.5s ease-in forwards;
    pointer-events: auto; 
  }
  
  .modaltitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .modalmessage {
    font-size: 14px;
    color: #008b2a;
    font-weight: 600;
  }
  
  @keyframes slideInFromRight {
    from {
      opacity: 0;
      transform: translateX(100%); /* Bắt đầu từ ngoài màn hình phía bên phải */
    }
    to {
      opacity: 1;
      transform: translateX(0); /* Đưa về vị trí mặc định */
    }
  }
  
  /* Hiệu ứng biến mất dần về phía bên trái */
  @keyframes fadeOutToLeft {
    0% {
      opacity: 1;
      transform: translateX(0); /* Bắt đầu tại vị trí hiện tại */
    }
    100% {
      opacity: 0;
      transform: translateX(-100%); /* Biến mất sang phía bên trái */
    }
  }